Django==2.0.4
PyMySQL==0.8.0
requests==2.18.4
urllib3==1.22
gevent
gunicorn
qrcode==6.1
certifi==2017.4.17
chardet==3.0.4
idna==2.6
pytz==2018.4
django-redis==4.10.0
redis
django-ratelimit==2.0.0
django-cors-headers
dj_static